# Python Regular expressions

In [14]:
import re
#re.match() - returns only if the string is available in the beginning of the searched sentence
string1 = "India is my country"
result = re.match("India", string1)
print(result.group())
result1 = re.match("country", string1)
print(result1)

India
None

In [10]:
#re.search() -finds the first occurance of the string is present anywhere in the searched sentence/string
result2 = re.search("country", string1)
print(result2.group())
str2 = "Venkatesh is working in temenos. He wants to move out of temenos"
result3 = re.search("temenos", str2)
print(result3.group())

country
temenos

In [13]:
# re.findall() - finds all the occurrances of the searched string
result4 = re.findall("temenos", str2)
print(result4)
result5 = re.findall("nagarjun", str2)
print(result5)

['temenos', 'temenos']
[]

## Special characters

In [33]:
# normal string and raw string
str1 = 'This is very nice. The path is C\aesktop'
print(str1)
str2 = r'This is very nice. The path is C:\Users\desktop'
print(str2)

This is very nice. The path is Cesktop
This is very nice. The path is C:\Users\desktop

In [39]:
# \b - check if there is any word that ends with mahal
str1 = r'Tajmahal is very beautiful'
result = re.findall(r'mahal\b', str1)
print(result)

['mahal']

In [42]:
# \d - check if the text contains digits
str1 = r'there are 10 books in my shelf and 2 cars in the cupboard'
result = re.findall(r'\d', str1)
result
# Since \d is used, the numbers are returned, but 10 is returned as two seperate numbers.

['1', '0', '2']

In [44]:
# In order to return the number as 10, we use \d+ --> it will keep printing the numbers until next occurance is space
result1 = re.findall(r'\d+', str1)
result1

['10', '2']

In [46]:
# \D - checks for non numbers - opposite of \d
result2 = re.findall(r'\D', str1)
result2

['t',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'b',
 'o',
 'o',
 'k',
 's',
 ' ',
 'i',
 'n',
 ' ',
 'm',
 'y',
 ' ',
 's',
 'h',
 'e',
 'l',
 'f',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 ' ',
 'c',
 'a',
 'r',
 's',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'c',
 'u',
 'p',
 'b',
 'o',
 'a',
 'r',
 'd']

In [48]:
# \D+
result3 = re.findall(r'\D+', str1)
result3

['there are ', ' books in my shelf and ', ' cars in the cupboard']

In [50]:
# \w -checks for alpha numeric characters
str2 = r'This is awesome. My gmail id is venkyravi97@gmail.com, not venky_ravi#$'
result4 = re.findall(r'\w',str2)
result4

['T',
 'h',
 'i',
 's',
 'i',
 's',
 'a',
 'w',
 'e',
 's',
 'o',
 'm',
 'e',
 'M',
 'y',
 'g',
 'm',
 'a',
 'i',
 'l',
 'i',
 'd',
 'i',
 's',
 'v',
 'e',
 'n',
 'k',
 'y',
 'r',
 'a',
 'v',
 'i',
 '9',
 '7',
 'g',
 'm',
 'a',
 'i',
 'l',
 'c',
 'o',
 'm',
 'n',
 'o',
 't',
 'v',
 'e',
 'n',
 'k',
 'y',
 '_',
 'r',
 'a',
 'v',
 'i']

In [52]:
# \w+
result5 = re.findall(r'\w+', str2)
result5

['This',
 'is',
 'awesome',
 'My',
 'gmail',
 'id',
 'is',
 'venkyravi97',
 'gmail',
 'com',
 'not',
 'venky_ravi']

In [55]:
# \W - opposite of \w -- returns the non alpha numeric characters
result6 = re.findall(r'\W+', str2)
result6

[' ', ' ', '. ', ' ', ' ', ' ', ' ', '@', '.', ', ', ' ', '#$']

In [59]:
# . - checks if there is one character after the character specified
str3 = r'I am a good boy. Wake me up'
result7 = re.findall(r'goo.', str3)
print(result7)
result8 = re.findall(r'g.', str3)
print(result8)
# number of dots --> number of characters
result9 = re.findall(r'g...', str3)
print(result9)

['good']
['go']
['good']

In [64]:
# ^ - carat symbol - check if the whole text begins with the entered string
str4 = r'Hello everyone. Hope you are all fine'
result10 = re.findall(r'^Hello',str4)
result10

['Hello']

In [72]:
# $ - dollar symbol - check if whole text ends with the entered string
result11 = re.findall(r'fine$', str4)
result11

['fine']

In [75]:
# * - checks if sentence contains 0 or many occurances of the character
result12 = re.findall(r'Ho*', str4)
result12

['H', 'Ho']

In [78]:
# + - checks if sentence contains 1 or many occurances of character
result13 = re.findall(r'Ho+', str4)
result13

['Ho']

In [81]:
# ? - checks 0 or 1 occurance of the character to the left
result14 = re.findall(r'Hop?e', str4)
result14

['Hope']

In [84]:
# | - pipe symbol - either or
result15 = re.findall(r'Hello|Hope', str4)
result15

['Hello', 'Hope']

## Sets

In [90]:
# [ydh]

str5 = "Analytics Vidhya is the best website among all the 100 websites to learn analytics with more than 798 topics @#wfwg $%_"
result16 = re.findall(r'[ydh]', str5)
result16

['y', 'd', 'h', 'y', 'h', 'h', 'y', 'h', 'h']

In [91]:
# [a-c]
result17 = re.findall(r'[a-c]', str5)
result17

['a', 'c', 'a', 'b', 'b', 'a', 'a', 'b', 'a', 'a', 'a', 'c', 'a', 'c']

In [95]:
# [0-6]\d+
result18 = re.findall(r'[7-9]\d+',str5)
result18

['798']

In [98]:
# print all the non alphanumeric characters - [^a-zA-Z0-9]
result19 = re.findall(r'[^a-zA-Z0-9_]', str5)
result19

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '@',
 '#',
 ' ',
 '$',
 '%']

## Solving complex queries

In [102]:
# Extracting email ids from the text
text1 = "Test for email ids number one venkyravi97@gmail.com number two pavithraa_ns@gmail.com number 3 anjana.menon@yahoo.com"
email_ids = re.findall(r'[a-zA-Z._0-9]+@\w+.com', text1)
email_ids

['venkyravi97@gmail.com', 'pavithraa_ns@gmail.com', 'anjana.menon@yahoo.com']

In [106]:
# Extracting dates
text2 = "Test for dates number one 12-12-2020 number two 15.05.1997 number three 29.01.97 number 4 Aug 19 1996"
dates = re.findall(r'\d{2}-\d{2}-\d{4} | \d{2}.\d{2}.\d{4} | \w{3}.\d{2}.\d{4}', text2)
dates

[' 12-12-2020 ', ' 15.05.1997 ', ' Aug 19 1996']